
{% extends 'MyAppBlogBundle::layout.html.twig' %}
{% block title %}Ajouter un Tree2{% endblock %}
{% block content %}
{% if message %}
    <p style="color: green">{{ message }}</p>
{% endif %}

<form action="{{ path('myapp_acteur_ajouter') }}" method="POST" {{ form_enctype(form) }}>
<div class="error">
	{{ form_errors(form) }}
</div>
<table>
    <tr>
	<td>{{ form_label(form.nom) }}</td>
	<td>{{ form_label(form.prenom) }}</td>
        <td>{{ form_label(form.dateNaissance) }}</td>
        <td>{{ form_label(form.sexe) }}</td>
        <td>{{ form_label(form.image) }}</td>
    </tr>
    <tr>
	<td>
	
	{{ form_widget(form.nom) }}
	</td>
	<td>
	
	{{ form_widget(form.prenom) }}
	</td>
	<td>
	
	{{ form_widget(form.dateNaissance) }}
	</td>
	<td>
	
	{{ form_widget(form.sexe) }}
	</td>    
        
  
        	
              
      <td>
	
	{{ form_widget(form.image) }}
	</td> 
        
        
    </tr>
</table>

{{ form_rest(form) }}
{{ form_errors(form.dateNaissance) }}
{{ form_errors(form.prenom) }}
{{ form_errors(form.sexe) }}
{{ form_errors(form.nom) }}
<input type="submit" value="SEND"/>
</form>
<p><a href="{{ path('top_acteur') }}">Retour à la liste des acteurs</a></p>
{% endblock %}

