{% extends 'MyAppBlogBundle::layout.html.twig' %}

{% block title %}Liste OF Trees II{% endblock %}

{% block fosuser %}

{% endblock %} 

{% block content %}
    
    <script src="https://mottie.github.io/tablesorter/docs/js/jquery-1.2.6.min.js"></script>
    <link href="https://mottie.github.io/tablesorter/dist/css/theme.default.min.css" rel="stylesheet">
    <script src="https://mottie.github.io/tablesorter/dist/js/jquery.tablesorter.min.js"></script>
    <script src="https://mottie.github.io/tablesorter/dist/js/jquery.tablesorter.widgets.min.js"></script>
    <link href="https://mottie.github.io/tablesorter/docs/css/jq.css" rel="stylesheet">
    
    <script>
$(document).ready(function() { 
    $("table").tablesorter(); 
    $("#trigger-link").click(function() { 
        // set sorting column and direction, this will sort on the first and third column the column index starts at zero 
        var sorting = [[0,0],[2,0]]; 
        // sort on the first column 
        $("table").trigger("sorton",[sorting]); 
        // return false to stop default link action 
        return false; 
    }); 
});
	</script>
        

    
    <table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>nom</th>
        <th>prenom</th>
        <th>dateNaissance</th>
         <th>ID</th>
        <th>nom</th>
        <th>prenom</th>
        <th>dateNaissance</th>
        <th>email_canonical</th>
    </tr>
    </thead>

{% for a in acteurs %}
      <tbody>
    <tr>
        <td>{{ a.id }}</td>
	<td>{{ a.nom }}</td>
	<td>{{ a.prenom }}</td>
	<td>{{ a.dateNaissance|date('d/m/Y') }}</td>
	<td>{{ a.sexe }}</td>
        <td>{{ a.nom }}</td>
	<td>{{ a.prenom }}</td>
	<td>{{ a.dateNaissance|date('d/m/Y') }}</td>
	
        
        
        <td align="center" valign="top">
            <img src="{{ asset('upload/' ~ a.id ~'/' ~ a.image)}}" alt="" height="70" width="40" />
            <a href="{{ asset('upload/' ~ a.id ~'/' ~ a.image)}}">Download pdf
                <img src="http://seeklogo.com/images/A/Adobe_PDF-logo-84B633809C-seeklogo.com.gif" style="width: 50px ; height: 50px;"/>
            </a>
        </td>

        
        <td><a href="{{ path('myapp_acteur_supprimer', { 'id': a.id }) }}">Supprimer</a></td>
        
    </tr>
{% else %}
    <tr>
	<td>Aucun acteur n'a été trouvé.</td>
    </tr>
{% endfor %}
</tbody>
</table>


<p><a href="{{ path('myapp_acteur_ajouter') }}">Ajouter un acteur</a><p>
{% endblock %}
